## This file contains the configuration needed to run the lyfecycle tests.
## Lines starting with # are ignored.
## Complete appropriately, and rename to LifeCycleTests.conf

## First we declare the databases we'll use as a comma separated list on LifeCycleTests.DB

LifeCycleTests.DBs = DB1, DB2, DB3

##Now the data for each of the previous DBs:

    ## DB1 Strings
    DB1.user = 'user1'
    DB1.password = 'password1'
    DB1.host = 'host1'
    DB1.port = 'port1'
    DB1.instance = 'instance1'

    ## DB2 Strings
    DB2.user = 'user2'
    DB2.password = 'password2'
    DB2.host = 'host2'
    DB2.port = 'port2'
    DB2.instance = 'instance2'

    ## DB3 ALMA Strings
    DB3.user = 'user3'
    DB3.password = 'password3'
    DB3.host = 'host3'
    DB3.port = 'port3'
    DB3.instance = 'instance3'
