target/
reports/
buildSrc
*.iml
*.jar
!lib/*.jar
*.ipr
*.iws
.gradle
/local.properties
/gradle-local.properties
/build
/.idea
plugins/
.DS_Store
.ds
.project
*.log
/log
/out
/output
*.iml
test_run_*/
notes.txt
log.htm
output.xml
myNotes.txt
product_analyzer.py
product_ingestor.sh
output/
*.tar
*.readme.txt
test.robot
__init__.py
alma-rh-cookie.txt
